In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

print("module load success")

data = pd.read_csv('heart_disease.csv')
print("data loading success")

module load success
data loading success

In [5]:
mysql_config = {
    'host': 'my-mysql',  # Docker container name
    'user': 'root',
    'password': 'root',
    'database': 'mydb',
    'port': 3306,
}

# Connect to MySQL
try:
    connection = mysql.connector.connect(**mysql_config)
    with connection.cursor() as cursor:

        # SQL query to drop the table
        drop_table_query = "DROP TABLE IF EXISTS heartDisease"
        
        # Execute the drop table query
        cursor.execute(drop_table_query)
        
        # Commit the changes
        connection.commit()

        print("Dropped table if it existed")


        # Create table schema based on CSV columns
        create_table_query = """
        CREATE TABLE IF NOT EXISTS heartDisease (
            id INT AUTO_INCREMENT PRIMARY KEY,
            age INT,
            sex INT,
            painloc INT,
            painexer INT,
            relrest INT,
            pncaden INT,
            cp INT,
            trestbps INT,
            htn INT,
            chol INT,
            smoke INT,
            cigs INT,
            years INT,
            fbs INT,
            dm INT,
            famhist INT,
            restecg INT,
            ekgmo INT,
            ekgday_day INT,
            ekgyr INT,
            dig INT,
            prop INT,
            nitr INT,
            pro INT,
            diuretic INT,
            proto INT,
            thaldur FLOAT,
            thaltime FLOAT,
            met FLOAT,
            thalach INT,
            thalrest INT,
            tpeakbps INT,
            tpeakbpd INT,
            dummy INT,
            trestbpd INT,
            exang INT,
            xhypo INT,
            oldpeak FLOAT,
            slope INT,
            rldv5 INT,
            rldv5e INT,
            ca INT,
            restckm INT,
            exerckm INT,
            restef FLOAT,
            restwm INT,
            exeref FLOAT,
            exerwm INT,
            thal INT,
            thalsev INT,
            thalpul INT,
            earlobe INT,
            cmo INT,
            cday INT,
            cyr INT,
            target INT
        )
        """
        cursor.execute(create_table_query)
        print("Table 'heartDisease' created successfully")

        # Insert data from CSV into MySQL
        df = data.iloc[:899]  # Limit to the first 900 rows (after = bad data)
        for _, row in df.iterrows():
            row = [None if pd.isna(value) or value == '' else value for value in row]
            insert_query = """
            INSERT INTO heartDisease (
                age, sex, painloc, painexer, relrest, pncaden, cp, trestbps, htn, chol,
                smoke, cigs, years, fbs, dm, famhist, restecg, ekgmo, ekgday_day, ekgyr,
                dig, prop, nitr, pro, diuretic, proto, thaldur, thaltime, met, thalach,
                thalrest, tpeakbps, tpeakbpd, dummy, trestbpd, exang, xhypo, oldpeak,
                slope, rldv5, rldv5e, ca, restckm, exerckm, restef, restwm, exeref,
                exerwm, thal, thalsev, thalpul, earlobe, cmo, cday, cyr, target
            ) VALUES (
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
                %s, %s, %s, %s, %s, %s
            )
            """
            cursor.execute(insert_query, tuple(row))
        connection.commit()
        print("Data inserted into 'heartDisease' successfully")

except Error as e:
    print("Error while connecting to MySQL:", e)

finally:
    if connection:
        connection.close()
        print("MySQL connection is closed")

Error while connecting to MySQL: 2005 (HY000): Unknown MySQL server host 'my-mysql' (-2)

NameError: name 'connection' is not defined